.container {
  position: absolute;
  top: 8px;
  right: 328px;
  width: 300px;
  overflow: hidden;
  border: 1px solid hsl(var(--border));
  padding: 8;
  background-color: hsla(var(--background), 0.25);
  backdrop-filter: blur(4px);
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
