/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --background: 0, 0%, 4%;
  --foreground: 60, 14%, 91%;
  --muted-foreground: 0, 0%, 54%;
  --border: 0, 0%, 13%;
  --primary: 164, 91%, 56%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: inherit;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(60, 14%, 91%);
  border-radius: 0;
}

body {
  font-optical-sizing: auto;
  font-variant-numeric: tabular-nums lining-nums;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

#root {
  height: 100vh;
}

#maplibre {
  height: 100%;
}
